/*
    Document   : home_andy_css
    Created on : Dec 5, 2011, 5:31:16 PM
    Author     : andyjiang
    Description:
        CSS for andy's features in home_view'
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/*
    Referral item header styling
*/

div.referral-item-wrapper {
    margin-top:30px;
    margin-bottom:30px;
    border: 1px solid #ffffff;
    background-color: #f2f2f2;
}

div.single-wrapper {
    position: relative;
    height: 150px; /* or depending on how big its children are */
    width: 100%;
    overflow: auto;
}

div.referral-date {
    position: absolute;
    float: left;
    left: 0;
    width: 30%;
    top: 0;
    margin-top: 10px;
    margin-left: 30px;
}

div.friend-pic {
    position: absolute;
    float: left;
    height: 50%;
    left: 0;
    top: 0;
    width: 30%;
    margin-left: 30px;
    margin-top: 40px;
}

div.friend-referral {
    position: absolute;
    height: 50%;
    top: 0;
    left: 100px;
    margin-top: 40px;
    margin-right: 30px;
    font-weight: normal;
}

div.vendor-name, div.list-name {
    font-weight: bold;
}

span.vendor-name, span.list-name {
    font-weight: bold;
}

div.subaccordion-header {
    position: relative;
    height: 60px;
    width: 100%;
}

div.button-row {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: 70%;
    margin: 15px;
}

/* button rows */

img.click-to-like {
    position: absolute;
    right: 0px;
    display: inline;
}

.refer-popup-link, .refer-list-popup-link {
    position: absolute;
    right: 36px;
    display: inline;
    padding: 0;
}

.add-to-list-popup-link, .add-list-to-list-popup-link {
    position: absolute;
    right: 115px;
    display: inline;
    padding: 0;
}

.referrals-remove-button {
    position: absolute;
    right: 151px;
    display: inline;
}

/*

    Comments footer styling

 */


div.number-of-likes {
    position: relative;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
}

div.show-all-comments-button {
}

div.time-stamp {
    color: #808080;
    font-size: 80%;
    font-weight: normal;
}

div.comments {
    display: table;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

span.referral-comment {
    font-weight: normal;
}

.comment-input {
    width: 75%;
    padding: 2px;
}

div.comments-body {
    margin-right: 20%;
    margin-left: 5%;
}

div.single-comment {
    position: relative;
    display: table;
    width:100%;
    border-top-style: dotted;
    border-top-width: 1px;
}

div.commenter-pic {
    display: inline;
    float: left;
    margin: 10px;
}

div.comment-wrapper-text {
    display: inline-block;
    position: relative;
}

div.comments-content {
    display: inline;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    overflow:hidden;
    word-wrap: break-word;
}

button.remove-comment-button {
    display: inline;
    float:right;
}

div.comment-date {
    float:left;
    margin-left: 15px;
    position: absolute;
    bottom: -60%;
    width: 100%;
    clear: both;
}

div.comment-box {
    margin-left: 6%;
    margin-bottom: 15px;
}

form.form-comment {
    width: 100%;
}
