/* 
    Document   : home_kim_css
    Created on : Dec 6, 2011, 3:43:30 AM
    Author     : gaobi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.autoCompleteImg {
    width:10%;
    float:left;
}

.autoCompleteDiv {
    width:90%;
    float: right;
    vertical-align: top;
}
#referredFriendsHeader {
    font-size:13px; 
    font-family:helvetica; 
    font-weight:bold;
}

.referredFriend {
    font-size:12px; 
    font-family:helvetica;
}

#friends-refer-upper {
    width:632px;
    height:212px;
    /*total width with is 618*/
}

#friends-refer-comment {
    width:608px;
/*    height:75px;*/
    height:70px;
    clear:both;
    background-color:#DFDFDF;
    overflow:auto;
    border:2px solid white;
    padding: 8px 10px 3px 10px;
    /*total width with borders is 618*/
}

#friends-refer-left {
    height:210px;
    width:450px;
    float:left;
    border-top:2px solid white;
    border-left:2px solid white;
    /*total width with borders is 452*/
    /*total height is 236*/
}

#friends-refer-right {
    height:204px;
    width:156px;
    float:right;
    background-color:#DFDFDF;
    overflow:auto;
    border-top:2px solid white;
    border-right:2px solid white;
    border-left:2px solid white;
    padding: 8px 10px 3px 10px;    /*total width with borders and margin is is 166*/

}

#friends-refer-search {
    background-color:#DFDFDF;
    overflow:auto;
    height: 55px;
    padding: 8px 10px 3px 10px;    /*total height 61*/
}

#friends-refer-display {
    background-color:#DFDFDF;
    overflow:auto;
    z-index:1000;
    height:143px;
    padding: 3px 10px 3px 10px;
    /*total height:175*/
}

#tags {
    width:70%;
}

#searchFriendsButton {
    visibility:hidden;
}

#comment-box {
    width:99%;
    height:50%;
    min-height:40px;
    resize:none;
}

#friends-refer-display-left {
    width:50%;
    float:left;
}

#friends-refer-display-right {
    width:50%;
    float:right;
}
    
.friendTable tr:hover {
    background-color:white;
    cursor:pointer;
}

.friendTable td.friendName {
    width:150px;
    padding-left:5px;
}

.friendTable td.friendPic {
    valign:middle;
}

img.delete {
    cursor:pointer;
}

/* add to list dialog box */
#add-to-existing-list {
    height:45px;
    padding: 1px 10px 0px 12px;

}

#add-to-new-list {
    padding: 1px 10px 0px 12px;
}

#add-to-list-comment {
    padding: 4px 10px 0px 12px;
}

#add-to-list-comment-box {
    width:90%;
/*    height:80px;;*/
}

#new-list-name {
    width:90%;
}

.refer-popup-link :hover {
    cursor: pointer;
}

#addToListDialog {
    font-family:helvetica;
    height:50px;
    padding-top:.4em;
    padding-bottom:0px;
    background-color: white;
}

/*#add-to-new-list {
    padding-top: 8px;
    background-image: url(../../../images/piggyback_button_submit_f1.png);
}*/

/*#addToListDialog .ui-button .ui-dialog {
    background-image: url(../../../images/piggyback_button_submit_f1.png);
}*/

.add-to-list-button {
    background-image: url(../../../images/piggyback_button_submit_f1.png);
}

.add-button button {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_submit_f1.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

.add-button button:hover {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_submit_f2.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

.ui-dialog-buttonset {
    padding-left:0px;
}

.refer-button button {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_refer_f1.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

.refer-button button:hover {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_refer_f2.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

.button-corner button, .corner {
    -moz-border-radius-topleft: 9px; 
    -webkit-border-top-left-radius: 9px; 
    -khtml-border-top-left-radius: 9px; 
    border-top-left-radius: 9px;
    
    -moz-border-radius-topright: 9px; 
    -webkit-border-top-right-radius: 9px; 
    -khtml-border-top-right-radius: 9px; 
    border-top-right-radius: 9px;
    
    -moz-border-radius-bottomleft: 9px; 
    -webkit-border-bottom-left-radius: 9px; 
    -khtml-border-bottom-left-radius: 9px; 
    border-bottom-left-radius: 9px;
    
    -moz-border-radius-bottomright: 9px; 
    -webkit-border-bottom-right-radius: 9px; 
    -khtml-border-bottom-right-radius: 9px; 
    border-bottom-right-radius: 9px;
}

.search-corner {
    -moz-border-radius-topleft: 9px; 
    -webkit-border-top-left-radius: 9px; 
    -khtml-border-top-left-radius: 9px; 
    border-top-left-radius: 9px;
    
    -moz-border-radius-topright: 9px; 
    -webkit-border-top-right-radius: 9px; 
    -khtml-border-top-right-radius: 9px; 
    border-top-right-radius: 9px;
}

.display-corner {
    -moz-border-radius-bottomleft: 9px; 
    -webkit-border-bottom-left-radius: 9px; 
    -khtml-border-bottom-left-radius: 9px; 
    border-bottom-left-radius: 9px;
    
    -moz-border-radius-bottomright: 9px; 
    -webkit-border-bottom-right-radius: 9px; 
    -khtml-border-bottom-right-radius: 9px; 
    border-bottom-right-radius: 9px;
}

.ui-dialog-titlebar a.ui-dialog-titlebar-close:hover {
    border:0px;
    background: url('../images/piggyback_button_close_f2.png') 50% 50%;
    width:20px;
    height:20px;
    padding:0px;
    background-color:#F6D53A;
}
/*
*/.ui-dialog-titlebar a.ui-dialog-titlebar-close {
    border:0px;
    width:20px;
    height:20px;
    padding:0px;
    background: url('../images/piggyback_button_close_f1.png') 50% 50%;
    background-color:#F6D53A;
}

/*.close-button {
    display: inline-block;
    width:30px;
    height:30px;
    align:right;
    background-image: url('../images/piggyback_button_close_f1.png');
}*/