/*
    Document   : home_andy_css
    Created on : Dec 5, 2011, 5:31:16 PM
    Author     : andyjiang
    Description:
        CSS for andy's features in home_view'
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Inbox */
div.click-to-like {
    position: relative;
    display: inline;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

div.click-to-comment {
    position: relative;
    display: inline;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.number-of-likes {
    position: relative;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.comments {
    padding-bottom: 2px;
}

table.comments-table {
    padding-top: 5px;
    padding-bottom: 5px;
}

div table td.comments-name {
    margin-left: 0px;
    padding-bottom: 2px;
}

div table td.comments-content {
    margin-left: 15px;
    padding-bottom: 2px;
}

div.friend-referral-comment-wrapper {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.inbox-friend-pic {
	position: relative;
	display: inline;
}

div.inbox-friend-referral {
	position: relative;
	display: inline
}
