/* 
    Document   : home_kim_css
    Created on : Dec 6, 2011, 3:43:30 AM
    Author     : gaobi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.autoCompleteImg {
    width:10%;
    float:left;
}

.autoCompleteDiv {
    width:90%;
    float: right;
    vertical-align: top;
}
#referredFriendsHeader {
    font-size:13px; 
    font-family:helvetica; 
    font-weight:bold;
}

.referredFriend {
    font-size:12px; 
    font-family:helvetica;
}