/* 
    Document   : home_kim_css
    Created on : Dec 6, 2011, 3:43:30 AM
    Author     : gaobi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/*-------------------- REFERRAL DIALOG ----------------------*/


/*class for td - appearance of referred friends in sidebar of referral dialog*/
.referredFriend {
    font-size:12px; 
    font-family:helvetica;
}

/*wrapper for upper part of refer dialog*/
#friends-refer-upper {
    width:632px;
    height:212px;
}

/*comment box of refer dialog*/
#friends-refer-comment {
    width:608px;
    height:70px;
    clear:both;
    background-color:#DFDFDF;
    overflow:auto;
    border:2px solid white;
    padding: 8px 10px 3px 10px;
}

/*upper left wrapper of refer dialog*/
#friends-refer-left {
    height:210px;
    width:450px;
    float:left;
    border-top:2px solid white;
    border-left:2px solid white;
}

/*upper right wrapper of refer dialog*/
#friends-refer-right {
    height:204px;
    width:156px;
    float:right;
    background-color:#DFDFDF;
    overflow:auto;
    border-top:2px solid white;
    border-right:2px solid white;
    border-left:2px solid white;
    padding: 8px 10px 3px 10px;

}

/*search part of upper left part of refer dialog*/
#friends-refer-search {
    background-color:#DFDFDF;
    overflow:auto;
    height: 55px;
    padding: 8px 10px 3px 10px;
}

/*display friend autocomplete results part of upper left part of refer dialog*/
#friends-refer-display {
    background-color:#DFDFDF;
    overflow:auto;
    z-index:1000;
    height:143px;
    padding: 3px 10px 3px 10px;
}

/*input for searching friend names*/
#tags {
    width:70%;
    margin-right: 7px;
}

/*hide search button in refer dialog*/
#searchFriendsButton {
    visibility:hidden;
}

/*input for refer dialog comment box*/
#comment-box {
    width:99%;
    height:50%;
    min-height:40px;
    resize:none;
}

/*used to split friend autocomplete display into two columns*/
#friends-refer-display-left {
    width:50%;
    float:left;
}

/*used to split friend autocomplete display into two columns*/
#friends-refer-display-right {
    width:50%;
    float:right;
}

/*when hovering over friends in refer dialog, background turns white*/
.friendTable tr:hover {
    background-color:white;
    cursor:pointer;
    border:0px;
}

/*display names of friends for autocomplete*/
.friendTable td.friendName {
    width:150px;
    padding-left:5px;
}

/*display pictures of friends for autocomplete*/
.friendTable td.friendPic {
    valign:middle;
}

/*make cursor a pointer when deleting friends you have added for referring*/
img.delete {
    cursor:pointer;
}

/*make cursor a pointer when over the referral popup link*/
.refer-popup-link :hover {
    cursor: pointer;
}

/*refer! button*/
.refer-button button {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_refer_f1.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

.refer-button button:hover {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_refer_f2.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

/*-------------------- ADD TO LIST DIALOG ----------------------*/


/*div for adding to existing list -- displays drop down*/
#add-to-existing-list {
    padding: 1px 10px 0px 12px;

}

/*div for adding to new list -- displays input for new list name*/
#add-to-new-list {
    padding: 1px 10px 0px 12px;
}

/*div for comment that goes along with adding to a new list -- used from search*/
#add-to-list-comment {
    padding: 4px 10px 0px 12px;
}

/*actual input for adding a comment*/
#add-to-list-comment-box {
    width:90%;
}

/*actual input for new list name*/
#new-list-name {
    width:90%;
}

/*actual add to list dialog*/
#addToListDialog {
    font-family:helvetica;
    height:50px;
    padding-top:.4em;
    padding-bottom:0px;
    background-color: white;
}

/* submit button in add to list dialog */
.add-button button, #add-list-submit {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_submit_f1.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

.add-button button:hover, #add-list-submit:hover {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_submit_f2.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

/*dropdown for add to list dialog*/
.drop-down-details {
    max-height: 250px;
    font-size:13px;
}


/*-------------------- EDIT LIST COMMENT DIALOG ----------------------*/

#edit-list-comment-dialog {
    font-family:helvetica;
    height:20px;
    padding-top:.4em;
    padding-bottom:0px;
    background-color: white;
}

#edit-list-comment-form {
    padding: 2px 10px 0px 12px;
}

.edit-list-comment-value {
    width: 90%;
}

/*-------------------- CONFIRM DELETE DIALOG ----------------------*/

/*text in confirm delete dialog*/
#confirm-delete-msg {
   padding: 5px 10px 0px 12px;
}

/*buttons for delete confirmation dialog*/
#delete-button {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_delete_f1.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

#delete-button:hover{
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_delete_f2.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

#cancel-delete-button {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_cancel_f1.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

#cancel-delete-button:hover {
    background-color:white;
    border:0px;
    background-image: url('../images/piggyback_button_cancel_f2.png');
    background-size: 100%;
    width:74px;
    height:30px;
    color:yellow;
    padding:0px;
}

/*-------------------- MIKES ADD LIST DIALOG ----------------------*/

#add-list-form {
    padding: 5px 10px 0px 12px;
}

#add-list-name {
    width:90%;
}

#add-list-button-wrapper {
    text-align:right;
    margin-bottom:5px;
}

/*-------------------- ALL DIALOGS ----------------------*/

.ui-dialog-buttonset {
    padding-left:0px;
}

.button-corner button, .corner {
    -moz-border-radius-topleft: 9px; 
    -webkit-border-top-left-radius: 9px; 
    -khtml-border-top-left-radius: 9px; 
    border-top-left-radius: 9px;
    
    -moz-border-radius-topright: 9px; 
    -webkit-border-top-right-radius: 9px; 
    -khtml-border-top-right-radius: 9px; 
    border-top-right-radius: 9px;
    
    -moz-border-radius-bottomleft: 9px; 
    -webkit-border-bottom-left-radius: 9px; 
    -khtml-border-bottom-left-radius: 9px; 
    border-bottom-left-radius: 9px;
    
    -moz-border-radius-bottomright: 9px; 
    -webkit-border-bottom-right-radius: 9px; 
    -khtml-border-bottom-right-radius: 9px; 
    border-bottom-right-radius: 9px;
}

.search-corner {
    -moz-border-radius-topleft: 9px; 
    -webkit-border-top-left-radius: 9px; 
    -khtml-border-top-left-radius: 9px; 
    border-top-left-radius: 9px;
    
    -moz-border-radius-topright: 9px; 
    -webkit-border-top-right-radius: 9px; 
    -khtml-border-top-right-radius: 9px; 
    border-top-right-radius: 9px;
}

.display-corner {
    -moz-border-radius-bottomleft: 9px; 
    -webkit-border-bottom-left-radius: 9px; 
    -khtml-border-bottom-left-radius: 9px; 
    border-bottom-left-radius: 9px;
    
    -moz-border-radius-bottomright: 9px; 
    -webkit-border-bottom-right-radius: 9px; 
    -khtml-border-bottom-right-radius: 9px; 
    border-bottom-right-radius: 9px;
}

.ui-dialog-titlebar a.ui-dialog-titlebar-close:hover {
    border:0px;
    background: url('../images/piggyback_button_close_f2.png') 50% 50%;
    width:16px;
    height:16px;
    padding:0px;
    background-color:#F6D53A;
}

.ui-dialog-titlebar a.ui-dialog-titlebar-close {
    border:0px;
    width:16px;
    height:16px;
    padding:0px;
    background: url('../images/piggyback_button_close_f1.png') 50% 50%;
    background-color:#F6D53A;
}

/*-------------------- ACCORDION ----------------------*/

.website-link:active, .website-link:link, .website-link:visited {
    color:blue;
}

.website-link:hover {
    color:#686868;
}

/*-------------------- ACCORDION COMMENTS ----------------------*/

.referral-comment {
    display:inline-block;
    margin-left:30px;
    padding-right:140px;
}

.accordion-footer {
    font-size:13px;
}

.commenter-pic img {
    height:35px;
    width:35px;
}

.single-comment, .form-comment {
    width:400px;
    height:50px;
    background-color:white;
}

input.comment-input {
    width:300px;
}

.comments-content {
    width:300px;
}

.remove-comment-button {
    background-image: url('../images/piggyback_button_close_f1.png');
    width:16px;
    height:16px;
    background-color:white;
    border:0px;
    margin-right: 5px;
    margin-top: 5px;
}

.remove-comment-button:hover {
    background-image: url('../images/piggyback_button_close_f2.png');
    width:16px;
    height:16px;
    background-color:white;
    border:0px;
    margin-right: 5px;
    margin-top: 5px;    
}