/*
    Document   : home_css
    Created on : Nov 30, 2011, 6:49:47 AM
    Author     : gaobi
    Description:
        Purpose of the stylesheet follows.
*/

html, body, input {
    font-family: arial,sans-serif;
}
html, body {
    font-size: 90%;
    overflow: hidden;
    border: 0 none;
    margin: 0;
    height:100%;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    padding-bottom: 0;
}
div, form {
    margin: 0;
}

ul#icons {
    margin: 0;
    padding: 0;
}
ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.none {
    display: none;
}

.rounded-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;  
    border-radius: 10px;
}

.top-rounded-corners {
    -moz-border-radius-topleft: 10px;
    -khtml-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    
    -moz-border-radius-topright: 10px;
    -khtml-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* top bar */
#top-bar {
    border: 1px solid #E5E5E5;
    background: url('../images/piggyback_topbar2560x100.jpg');
    height: 100px;
    position: relative;
}

#left-list-pane, #logo-container, #left-list-pane-header, #scrollable-sections-bottom {
    width: 220px;
}

a, a:visited, .link {
    color: #1155CC;
}

#logo {
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 12px 0px 0px 35px;
}


#top-nav-bar {
    float: right;
    padding: 0px 10px 0px 0px;
    margin: 20px 20px 0 0;
    position: relative;
    height: 70%;
    background-color: #333333;    
}

#search {
/*    display: inline-block;*/
/*    text-align:center;*/
    vertical-align: middle;
    display: inline-block;
    padding: 5px 60px 0px 10px;
}

#search-box, #search-location {
    padding: 0px 0px 0px 10px;
    height: 25px;
    font-size: 18px;   
}

#search-box:focus, #search-location:focus {
    outline: none;
    border-color: #9ECAED;
    box-shadow: 0 0 10px #9ECAED;
}

.placeholder {
    color: #969696;
}

.not-placeholder {
    color: #000000;
}

#searchbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0px;
}

#current-pic {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
}

/*logout*/
#logout {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 5px;
    color: #FFFFFF;
    font-size: 18px;
}

/*main page below top bar*/
#main {
    overflow-x: auto;
    position: relative;
}

/*left-list-pane*/
#left-list-pane {
    float: left;
    margin: 10px 10px 0px 10px;
/*    border-right: 1px solid #333333;*/
/*    font-family: helvetica, tahoma, arial, sans-serif;*/
}

#left-list-pane-header {
    height: 30px;
    border-bottom: 1px solid #EBEBEB;
    background-color: #333333;
    font-size: 26px;
    color: #FFFFFF;
    position: relative;
    padding: 10px 0px 10px 25px;
    width: 195px;
}

#add-list-button {
    position: absolute;
    cursor: pointer;
    margin: 0px 0px 0px 60px;
/*    background-image: url('../images/piggyback_button_add_f1.png');*/
    background: url('../images/piggyback_button_add_f1.png') no-repeat;
    width: 30px;
    height: 30px;
}

#add-list-button:hover {
    background-image: url('../images/piggyback_button_add_f2.png');
}

#scrollable-sections-holder {
    position: relative;
    border-right: 1px solid #333333;
/*    border-left: 1px solid #333333;*/
}

#scrollable-sections {
    overflow-y: auto;
    position: relative;
/*    bottom: 0;*/
}

#lists-container {
    position: relative;
    line-height: 21px;
    font-size: 13px;
}

#lists {
    margin: 0;
/*    font-size: 14px;*/
    line-height: 21px;
    padding: 0;
    position: relative;
}

#lists li {
    margin: 5px 0px 0px 7px;
    font-size: 14px;
    cursor: pointer;
    list-style-type: none;
/*    font-weight: normal;*/
}

#lists li:hover {
    background-color: #EEEEEE;
}

.selected-list {
    background-color: #EEEEEE;
}

#lists li span.my-list {
    font-weight:normal;
    width: 150px;
    font-family: helvetica, tahoma, arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.refer-my-list-wrapper img {
    padding-top:3px;
    padding-right:0px;
    margin-right:0px;
    display: inline;
    position: absolute;
    right: 5px;
}

.refer-my-list-wrapper {
/*    display:inline-block;
    width:40px;
    height:16px;
    float:right;*/
}

.delete-my-list {
    cursor: pointer;
    color: red;
    vertical-align:-3px;
}

.my-list {
    cursor: pointer;
    position: absolute;
    margin: 0px 0px 0px 10px;
    vertical-align:top;
}

span.refer-my-list {
    cursor: pointer;
    right: 0px;
    position: absolute;
    margin: 0px 0px 0px 170px;
}

#scrollable-sections-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    bottom: 0;
    opacity: 0;
    height: 8px;
    left: 0;
    margin-right: 0;
    position: absolute;
    z-index: -1;
}

.vendor-name {
    margin: 10px 0 0 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: pointer;
}

/*.accordion-remove {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
    width: auto;
    color: #b8b7b7;
}*/

#content {
    
}

ul.ui-tabs-nav {
/*    position: fixed;*/
/*    background-color: white;*/
/*    z-index: 100;*/
/*    clear: both;*/
}

#inbox-content, #search-content, #list-content, #friend-activity-content, #referral-tracking-content {
/*    margin-top: 200px;*/
/*    padding-top: 200px;*/
    
}

.referral-list-vendor-add-to-list, .referral-list-vendor-refer {
/*    top: 3px;*/
}

.list-item-wrapper .single-wrapper {
    height: 100%;
}

div.single-wrapper {
    height: 100%;
}

.list-item-wrapper {
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
    background-color: #f2f2f2;
    
    -moz-border-radius-topleft: 10px; 
    -webkit-border-top-left-radius: 10px; 
    -khtml-border-top-left-radius: 10px; 
    border-top-left-radius: 10px;
    
    -moz-border-radius-topright: 10px; 
    -webkit-border-top-right-radius: 10px; 
    -khtml-border-top-right-radius: 10px; 
    border-top-right-radius: 10px;
    
    -moz-border-radius-bottomleft: 10px; 
    -webkit-border-bottom-left-radius: 10px; 
    -khtml-border-bottom-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    
    -moz-border-radius-bottomright: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -khtml-border-bottom-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.accordion-remove {
    position: absolute;
    right: 151px;
    display: inline;
    color: #b8b7b7;
    font-size: 14px;
    margin: 5px 5px 0 0;
}

.accordion-edit-comment {
    color: #b8b7b7;
    font-size: 13px;
    margin: 0 0 0 10px;
}

.vendor-list-comment {
/*    display: block;*/
    font-size: 0.75em;
/*    height: 100%;*/
/*    margin-right: 190px;*/
/*    max-width: 70%;*/
}

.comment-and-edit-block {
    display: block;
    max-width: 75%;
}

/*.accordion-edit-comment {
    display: inline;
    right: 10px;
    top: 31px;
    width: auto;
    float: right;
    color: #b8b7b7;
    font-size: 0.75em;
    line-height: 200%;
}*/

.accordion-list-header {
    height: 60px;
}

/*content*/
#content-frame {
    margin-left: 264px;
}

#content-frame {
    min-width: 700px;
}

#content-viewer-container {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

#content-viewer {
    padding: 0;
    vertical-align: top;
}

#viewer-container {
    background: none repeat scroll 0 0 #FFFFFF;
}

#viewer-page-container {
/*    background: none repeat scroll 0 0 #FFFFFF;*/
/*    display: block;*/
    overflow-x: visible;
    overflow-y: auto;
    position: relative;
}

#content {
    padding: 0;
}

/*search*/
.formatted-table {
    width: 100%;
    font-size: 13px;
    font-family: helvetica;
}

.formatted-table-info {
    width: 50%;
}

.formatted-table-button {
    width: 50%;
    float: right;
    font-size: 13px;
    font-family: helvetica;
}

.dialog_link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

.dialog_link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#right-col {
    width:300px;
    height:100px;
    float:right;
    margin-bottom:10px;
}

#popup-widget {
    width:300px;
    height:100px;
    float:left;
    margin-bottom:10px;
}

#comment-area {
    width:100%;
    margin-top:10px;
    clear:both
}

#fuzz {
    position:absolute;
    opacity:.77;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    background-color:black;
    display:none;
    text-align:left;
    height:100%;
}

/*footer*/

#footer {
    clear: both;
    position: relative;
    height: 100%;
}

#tempfooter {
    position: relative;
    text-align: center;
    opacity: 0.5;
    padding: 1em 0;
}
