html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,  
tfoot, thead, tr, th, td {  
    border:0pt none;  
    font-family:inherit;  
    font-size:100%;  
    font-style:inherit;  
    font-weight:inherit;  
    margin:0pt;  
    padding:0pt;  
    vertical-align:baseline;  
    
    margin-top:0px;
    margin-bottom:0px;
}  

a {
    border:0pt none;  
    font-family:inherit;  
    font-size:100%;  
    font-style:inherit;  
    font-weight:inherit;  
    margin:0pt;  
    padding:0pt;  
    vertical-align:baseline;  
    
    margin-top:0px;
    margin-bottom:0px;
    
    padding-top:5px;
    padding-bottom:5px;
    
}

h5 {
    border:0pt none;  
    font-family:inherit;  
    font-size:60%;  
    font-style:inherit;  
    font-weight:inherit;  
    margin:0pt;  
    margin-top:0px;
    margin-bottom:0px;
    margin-left:30px;
    padding:0pt;  
    vertical-align:baseline;
}

h6 {
    border:0pt none;  
    font-family:inherit;  
    font-size:60%;  
    font-style:inherit;  
    font-weight:inherit;  
    margin:0pt;  
    margin-top:0px;
    margin-bottom:0px;
    margin-left:30px;
    padding:0pt;  
    vertical-align:baseline;
}


p {
    border:0pt none;  
    font-family:inherit;  
    font-size:60%;  
    font-style:inherit;  
    font-weight:inherit;  
    margin:0pt;  
    margin-top:0px;
    margin-bottom:0px;
    margin-left:30px;
    padding:0pt;  
    vertical-align:baseline;
    display:inline;
}

body{  
    background:#fff none repeat scroll 0%;  
    line-height:1;  
    font-size: 12px;  
    font-family:arial,sans-serif;  
    margin:0pt;  
    height:100%;  
}  

table {  
    border-collapse:separate;  
    border-spacing:0pt;  
}  

caption, th, td {  
    font-weight:normal;  
    text-align:left;  
}  
blockquote:before, blockquote:after, q:before, q:after {  
    content:"";  
}  
blockquote, q {  
    quotes:"" "";  
}  

a{  
    cursor: pointer;  
    text-decoration:none;  
}  

br.both{  
    clear:both;  
}  

#backgroundPopup{  
    display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:100%;  
    width:100%;  
    top:0;  
    left:0;  
    background:#000000;  
    border:1px solid #cecece;  
    z-index:1;  
}  

#popupRefer{  
    display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:384px;  
    width:408px;  
    background:#FFFFFF;  
    border:2px solid #cecece;  
    z-index:2;  
    padding:12px;  
    font-size:13px;  
}  

#popupRefer h1{  
    text-align:left;  
    color:#6FA5FD;  
    font-size:22px;  
    font-weight:700;  
    border-bottom:1px dotted #D3D3D3;  
    padding-bottom:2px;  
    margin-bottom:20px;  
}  

#popupReferClose{  
    font-size:14px;  
    line-height:14px;  
    right:6px;  
    top:4px;  
    position:absolute;  
    color:#6fa5fd;  
    font-weight:700;  
    display:block;  
}  

#referButton{  
    /*text-align:center;*/  
    /*margin:100px;  */
}

/* styles for the jQuery tablesorter */

/*.click {
    font-weight: bold;
    background-color: #ffff00;
}

#resultsTable {
    width: 770px;
    margin-bottom: 60px;
    float: left;
    position: relative;
    clear: left;
}

#table_content
{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 4px;
    background: #fff;
    background-image: url("images/results_label.png");
    background-position: top left;
    background-repeat: no-repeat;
}*/

table.tablesorter {
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 723px;
	text-align: left;
	border-bottom: 1px solid #00679d;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border-bottom: 1px solid #00679d;
	background-color: #CFF1FF;
	font-size: 10pt;
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url("images/tablesorter/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url("images/tablesorter/asc.gif");
}

table.tablesorter thead tr .headerSortDown {
	background-image: url("images/tablesorter/desc.gif");
}